/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.image-view:hover {
	-fx-cursor:hand;
}

.button {
    -fx-background-color: #353535;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: left;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-color: #656565;

}

.button:pressed {
    -fx-background-color: #656565;
}

.button2 {
    -fx-background-color: #0C39FF;
    -fx-border-color: #FFF;
    -fx-text-fill: #FFF;
}

.button2:hover {
    -fx-background-color: #0C3988;
    -fx-text-fill: #FFF;
}

.button2:pressed {
    -fx-background-color: #0C3400;
    -fx-text-fill: #FFF;
}

.split-pane-divider {
  -fx-background-color: transparent;
  -fx-padding: 0 0 0 0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
  -fx-cell-size : 20;
  -fx-background-color: #AB2C2C;
  -fx-border-color: rgba(0,0,0,0.2);
}

.table-view .column-header .label{
   -fx-text-fill: #000;
   -fx-font-weight: bold;
   -fx-alignment: CENTER;
}

.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(171, 44, 44);
 }

 .table-row-cell:selected .text {
        -fx-fill: white;
 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: derive(#AB2C2C,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#AB2C2C,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

.data0.chart-pie {
    -fx-pie-color: #364FCD;
}

.data1.chart-pie {
    -fx-pie-color: #54AAF3;
}
